[user]
	name = nbabcock
	email = nathan.r.babcock@gmail.com
	signingkey = 10BE24B1BAA45E1A
[core]
	autocrlf = true
[alias]
	cm = commit -m
	a = add .
	p = push
	s = status
	st = status
	up = "!git remote update -p; git merge --ff-only @{u}"
	undo = reset --soft HEAD^
	ls-alias = config --get-regexp '^alias\\.'
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[pgp]
	format = ssh
[commit]
	gpgsign = true
[gpg]
	program = C:/Program Files (x86)/GnuPG/bin/gpg.exe
